<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Great Resignation</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

    <div id="top"></div>
    <a href='/' id="Home">Home</a>
    <div id="button1"></div>
   
    <div class="container">
      <div class="card">
          <h1>US Obesity vs Income</h1>    
          <div class="center"><img src="static/Images/Obesity_vs_Income.png" alt="US Obesity Vs Income"></div>
          <p> <p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          </p>
      </div> 
      <div class="card">
        <h1>US Obesity vs Employment</h1>    
        <div class="center"><img src="static/Images/Obesity_vs_Unemployment.png" alt="US Obesity Vs Unemplyment"></div>
        <p> </p>
    </div> 
  </body>
  </html>